<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
<title>Formulario Docente</title>
</head>
<body>
	<header>
		<div data-th-replace="~{fragments/header::navbar}"></div>
	</header>

	<div class="container">
		<h1>Formulario Docente</h1>
		<form data-th-object="${nuevoDocente}"
			data-th-action="${bandera}?@{/modificarDocente}:@{/guardarDocente}"
			method="post">
			<div class="col-sm-6">
				<label for="legajo" class="form-label">Legajo Docente</label> <input
					type="text" class="form-control" id="legajo"
					data-th-field="*{legajo}" required data-th-readonly="${bandera}">
			</div>

			<div class="col-sm-6">
				<label for="nombre" class="form-label">Nombre Docente</label> <input
					type="text" class="form-control" id="nombre"
					data-th-field="*{nombre}" required>
			</div>

			<div class="col-sm-6">
				<label for="apellido" class="form-label">Apellido Docente</label> <input
					type="text" class="form-control" id="apellido"
					data-th-field="*{apellido}" required>
			</div>

			<div class="col-sm-6">
				<label for="email" class="form-label">Email Docente</label> <input
					type="email" class="form-control" id="email"
					data-th-field="*{email}" required>
			</div>

			<div class="col-sm-6">
				<label for="telefono" class="form-label"></label>Telefono Docente<input
					type="number" class="form-control" id="telefono"
					data-th-field="*{telefono}" required>
			</div>


			<br>
			<button type="submit" class="btn btn-primary">Guardar
				Docente</button>

		</form>
		<br> <a href="/guardarDocente"><button type="submit"
				class="btn btn-primary">Ver Docentes</button></a>
	</div>


	<script
		data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>